body{
	padding-bottom: 40px;
	color:#5a5a5a;
	background-image: url("https://www.overlakehospital.org/themes/neat_oh/img/bg-pttn-compressed.jpg");
	background-repeat: repeat;
}
/*------------slides--------*/
.slide{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
/*#slide1:after{
	content: "";
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("https://www.overlakehospital.org/sites/default/files/2016-09/neuroscience-institute_0_0.jpg");
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1

}*/
.overlaySlide{
	opacity: 0.2;
	position:fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
	z-index: 2;
	background: linear-gradient(to bottom left,#77c4e3,#8176b5)
}
#slide1{
	background-image: url("https://www.overlakehospital.org/sites/default/files/2016-09/neuroscience-institute_0_0.jpg");
}
#slide2{
	background-image: url('https://www.overlakehospital.org/sites/default/files/2016-09/leading-technology_0_0.jpg');

}
#slide3{
	background-image: url('http://cancer-center.lomalindahealth.org/sites/cancer-center.lomalindahealth.org/files/images/cancer-center-doctor-phone.jpg');
	/*background-image: url('https://www.overlakehospital.org/sites/default/files/2016-09/prostate-mri_0.jpg');*/
}
#slide4{
	background-image: url('https://www.overlakehospital.org/sites/default/files/2016-09/one-chart_0.jpg');
}
/*------------slides images text-----------*/
.textWrap{
	text-align: center;
	color:white;
	z-index: 3;
}
.textWrap h1{
	font-size:50px;
}
.textWrap p{
	font-size:25px;
}
/*---------providers--------*/
.providers{
	padding-bottom: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}
.providerTile:hover{
	border-bottom:3px solid orange;
}
/*--------location-----------*/
.location .col-lg-4{
	margin-bottom: 20px;
  	text-align: center;
  	/*margin:30px; 	*/
}
#locationTile:hover{
	box-shadow: 4px 4px 5px 2px grey;
}
/*------google maps------------*/
#map{ 
	height: 400px;
	width:400px;
}


