body{
	padding-bottom: 40px;
	color:#5a5a5a;
	/*color:white;*/
}
/*------------navbar----------*/
.navbar-wrapper{
	margin-top:20px;
	position:absolute;
	top:0;
	left: 0;
	right: 0;
	z-index:20px;
}
.navbar-static-top{
	z-index:1000;
	border-width: 0 0 1px;
}
.navbar-toogle{
	border-color: #333;
	position:relative;
	float:right;
	padding:9ps 10px;
	margin-top:8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color:transparent;
	border:1px solid transparent;
	border-radius: 4px; 
}
.navbar-brand{
	color:white;
	float:left;
	height:50px;
	padding: 15px 15px;
	font-size:18px;
	line-height: 20px;
}
.container > .navbar-collapse{
	margin-right: 0;
	margin-left:0 ;
}
.navbar{
	position:relative;
	min-height:50px;
	margin-bottom:20px;
	border:1px solid transparent;
}
#myNavbar{
	float:right;
}
.navItem{
	color:white;
	font-size:large;
}
.navbar-nav>li.active>a{
	background-color: #eee;
	color:#337ab7;
} 
/*------------slides--------*/
.slide{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
	opacity:0.6;
}
#slide1{
	background-image: url("https://www.overlakehospital.org/sites/default/files/2016-09/daisy-awards_0_0.jpg");
}
#slide2{
	background-image: url('https://www.overlakehospital.org/sites/default/files/2016-09/leading-technology_0_0.jpg');
}
#slide3{
	background-image: url('https://www.overlakehospital.org/sites/default/files/2016-09/prostate-mri_0.jpg');
}
#slide4{
	background-image: url('https://www.overlakehospital.org/sites/default/files/2016-09/one-chart_0.jpg');
}
/*------------carousel-----------*/
/*.carousel {
  position: absolute;
  height: 500px;
  margin-bottom: 60px;
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}*/
.textWrap{
	text-align: center;
	color:white;
}
.textWrap h1{
	font-size:50px;
}
.textWrap p{
	font-size:25px;
}
/*---------providers--------*/
.providers .col-lg-4 {
   margin-top:30px;
   margin-bottom: 20px;
   text-align: center;
  -webkit-transition: width 2s,height 2s; /* For Safari 3.1 to 6.0 */
   transition: width 2s, height 2s;
   transition-delay: 1s;
}
.providers .col-lg-4:hover{
	-ms-transform: scale(1.05,1.15); /* IE 9 */
    -webkit-transform: scale(1.05,1.15); /* Safari */
    transform: scale(1.05,1.15); /* Standard syntax */
    box-shadow: 2px 2px 5px grey;
}
.providers h2 {
  font-weight: normal;
}
.img-circle{
	border-radius: 50%;
	margin-top:10px;
}
img{
	vertical-align: middle;
}
/*------divider---------------*/
.featurette-divider{
	margin:80px 0;
}
/*--------location-----------*/
.location .col-lg-4{
	margin-bottom: 20px;
  	text-align: center;
  	/*margin:30px; 	*/
}
#locationTile:hover{
	box-shadow: 4px 4px 5px 2px grey;
}
/*------google maps------------*/
#map{ 
	height: 400px;
	width:400px;
}


