<div class="carouselDisplay">
	<div class="slide" id="slide1"> 
		<div class="overlaySlide"></div>
		<div class="textWrap col-lg-6 col-lg-offset-3">
			<h1>Heading</h1>
			<p>The overall mission of CKS for the patient with kidney disease is to promote total health quality and length of life in the most efficient and cost effective manner possible.</p>
		</div>
	</div>
	<div class="slide" id="slide2">
		<div class="overlaySlide"></div>
		<div class="textWrap col-lg-6 col-lg-offset-3">
			<h1>OUR SPECIALITY</h1>
			<p>Our practice specializes in diseases of the kidney, hypertension and transplantation. Some of the key problems that we specialize in include (but are not limited to) Diabetic Nephropathy.</p>
		</div>
	</div>
	<div class="slide" id="slide3">
		<div class="overlaySlide"></div>
		<div class="textWrap col-lg-6 col-lg-offset-3">
			<h1>DR. ON CALL</h1>
			<p>Our doctors are board certified in Internal Medicine. They believe your overall health and well-being depends on both your physical and mental health. Your good health is her priority.</p>
		</div>
	</div>
	<div class="slide" id="slide4">
		<div class="overlaySlide"></div>
		<div class="textWrap col-lg-6 col-lg-offset-3">
			<h1>AFFILATE ORGANISATIONS</h1>
      		<p>
      			<a href="">Evergreen</a>
      			<a href="">KIDNEY CENTERS</a>
      			<a href="">Davita</a>
      			<a href="">Overlake Medical Center</a>
      		</p>
		</div>
	</div>
</div>