<div class="container col-lg-8 col-lg-offset-2  section-content">
<div  class="md-inline-form" >
  <md-content layout-padding="">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>First name</label>
            <input ng-model="user.firstName" class="contactInput">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Last Name</label>
            <input ng-model="tuser.firstName" >
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Email</label>
            <input ng-model="user.firstName" type="email">
          </md-input-container>
          <md-input-container class="md-block">
          <label>Message</label>
          <textarea ng-model="user.message" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
        </md-input-container>
		<md-button class="md-raised md-primary">Submit</md-button>
  </md-content>
</div>
</div>
<!-- "freight-sans-pro", Helvetica, sans-serif -->