<div class="navbar-wrapper" ng-controller="navbarController as NC">
	<div class="container">
		<nav class="navbar  navbar-static-top">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
		      </button>
		      <a class="navbar-brand" href="#" data-menuanchor="home" >Cascade Kidney Specialists</a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav" id="menu">
		        <li data-menuanchor="providers"><a href="#" class="navItem" ng-class="{active:NC.setActvieColor('1')}">Providers</a> </li>
		        <li data-menuanchor="location"><a href="#" class="navItem" ng-class="{active:NC.setActvieColor('1')}">Location</a> </li>
		        <li data-menuanchor="contact"><a href="#/contact" class="navItem" ng-class="{active:NC.setActvieColor('1')}">Contact Us</a> </li>
		        <li data-menuanchor="patientCenter"><a href="#/patientCenter" class="navItem" ng-class="{active:NC.setActvieColor('1')}">Patient Center</a> </li>
		      </ul>
		    </div>
		  </div>
		</nav>
	</div>
</div>
