<div class="col-lg-6 col-lg-offset-3">
	<p>Thank you for scheduling an appointment with Dr.Madhuri Kandala. It is a pleasure to welcome you to our clinic and look forward to meeting you.If you cannot make this appointment please call the office at least 24 hours notice so we may use this time for another patient.</p>

	<p>As a new patient, we want you to feel comfortable and confident that your healthcare needs will be met. Please fill out the enclosed forms and return them to our office as soon as possible either through mail or scan the forms and email to office@cascadekidney.com. This allows us to get your information into our computer and allows the doctors to review your records in advance of your appointment. Please arrive at least 20 minutes ahead of your scheduled time. All new patient appointment will last about 1 hour.</p>
	
	<h3>New Patient Forms Package</h3>
	<a href="#">New Patient Forms Package</a>

	<h3>Patient Forms</h3>
	<a href="#">PRIVACY RIGHTS NOTICE</a> |
	<a href="#">PATIENT QUESTIONAIRE</a> |
	<a href="#">PATIENT INFORMATION FORM</a>

	<p>Billing: 800-243-5854</p>
	<p>Referrals: 425-453-8406</p>
	<p>Front Office Coordinator: 425-453-8406</p>
</div>