<div class="container" ng-controller="providersController as PC">
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
	<div class='row'>
		<div class="col-lg-4" ng-repeat="provider in PC.providers">
			<md-card class="providerTile">
				<div class="providers" ng-style="{'background-image':'url({{provider.imgPath}})'}"></div>
	        	<!-- <img ng-src="{{provider.imgPath}}" class="md-card-image"> -->
		        <md-card-title>
		          <md-card-title-text>
		            <span class="md-headline">{{provider.name}}</span>
		          </md-card-title-text>
		        </md-card-title>
		        <md-card-content>
		          <p>{{provider.description}}</p>
		        </md-card-content>
		    </md-card>
		</div>
	</div>
	</div>
</div>
</div>